HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=MwDGuBKVZ4fdenFlGL76NNIybYMuPw5F

DB_CONNECTION=pg
DB_HOST=localhost
DB_PORT=55432
DB_USER=incicle-user
DB_PASSWORD=incicle-pass
DB_DATABASE=paymentpaper

DEFAULT_CEP=69906-210
DEFAULT_NUMBER=1256
DEFAULT_ACCOUNT=NU

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt